* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.key {
  background-color: gray;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 75px;
  height: 75px;
  margin: 10px;
  font-size: 20px;
  transition: all 0.07s ease;
}

.sound {
  font-size: 15px;
}

.playing {
  transform: scale(1.1);
  box-shadow: 0 0 1rem greenyellow;
}

